# electron 和 sass 这种安装较慢的需要用淘宝镜像安装
SASS_BINARY_SITE=http://npm.taobao.org/mirrors/node-sass
ELECTRON_MIRROR=https://cdn.npm.taobao.org/dist/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=http://npm.taobao.org/mirrors/electron-builder-binaries/